body{
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
}

.nav--menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: rgb(70 226 226 / 76%);
}

.nav--menu h1{
  font-size: 20px;
  padding-left: 10px;
}

.nav--menu button{
  margin-right: 10px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  
}

.Main{
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input--area{
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: blueviolet;
  height: 200px;
  width: 60%;
}
.Main input{
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

button{
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #2c974b;
}

button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* About section  */

.about--section{
  display: flex;
  justify-content: space-evenly;
}

.cards{
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  border-radius: 8px;
  -webkit-box-shadow: -4px 7px 43px -2px rgba(0,0,0,0.61);
  -moz-box-shadow: -4px 7px 43px -2px rgba(0,0,0,0.61);
  box-shadow: -4px 7px 43px -2px rgba(0,0,0,0.61);
}
.cards img{
  position: relative;
  height: 100px;
  width: 150px;
  margin-top: 12px;
}
.cards p{
  text-align: center;
}

@media screen and (max-width:790px){
  .Main button{
    font-size: 12px;
    height: 23px;
  }
  .input--area{
    flex-direction: column;
  }
  .Main input{
    width: 80%;
    padding: 5px;
  }
  .get--url{
    font-size: 14px;
  }
  .about--section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards{
    width: 55%;
    margin-bottom: 25px;
  }
  .cards img{
    height: 70px;
    width: 120px;
  }
}
@media screen and (max-width:520px){
  .input--area{
    width: 80%;
  }
  .Main input{
    width: 80%;
    padding: 5px;
  }
  .get--url{
    font-size: 12px;
  }
  .cards{
    width: 65%;
    margin-bottom: 20px;
  }
  .cards img{
    height: 60px;
    width: 105px;
  }
  .cards h2{
    font-size: 20px;
  }
}

